<?xml version='1.0' encoding='utf-8'?>
<robot name="custom_table">
  <link name="table_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zozo/zobot_ws/le-robot/so101-moveit-isaacsim_ws/src/so_arm_description/meshes/table.stl" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zozo/zobot_ws/le-robot/so101-moveit-isaacsim_ws/src/so_arm_description/meshes/table.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>
</robot>