git
libeigen3-dev
libopencv-dev
libboost-all-dev
libyaml-cpp-dev
libgstreamer1.0-dev
libgstreamer-plugins-base1.0-dev

## moveit dependencies for so-101
ros-humble-moveit 
ros-humble-ros2-control 
ros-humble-ros2-controllers 
ros-humble-gripper-controllers 
ros-humble-topic-based-ros2-control